<div id="dp_products_col">
  <div id="products_header">
    <span class="column_header">Products</span>
  </div>
  <%= render :partial => 'product_list' %>
  <div id="products_buttons">
     <button type="submit" id="add_product_button">Add</button>
   </div>
</div>
<div id="dp_releases_col">Here go the Releases</div>
<div id="dp_themes_col">Here go the Themes</div>
<div id="dp_stories_col">Here go the stories</div>