<div class="product_list_element_selected">
  <div class="delete_image_div">
    <%= image_tag("DeleteButton24.png", :alt => "") %>
    <%= hidden_field(:product, :id) %>
  </div><%= @product.name %>
</div>